body{
  background-color: gray;
}

/* Barras Decoracion */
hr{
  color: black;
  background-color: black;
  border-color: white;
  border-style: ridge;
  border-width: 5px;
  width: 1300px;
  height: 13px;
}



/* Elementos Basicos */
p {
  font-family: fantasy;
  font-size: 20px;

}

h1, h2, h3{
  font-size: 30px;
  color: black;
  border-radius: 5px;
  border-color: red;
  border-width: 5px
}

img{
  width: 100px;
  height: 100px;
  align-content: center;
}
